<% content_for :title, "Edit Shelter - Adopt Don't Shop" %>


  <section class="form">
    <h1>Edit <%= link_to @shelter.name, "/shelters/#{@shelter.id}" %></h1>

    <%= render partial: 'shelter_form', locals: { path: "/shelters/#{@shelter.id}",
                                                  method: :patch,
                                                  button: "Update Shelter",
                                                  shelter: @shelter} %>

  </section>
