<% content_for :title, "All Shelters - Adopt Don't Shop" %>


  <section class="index">
    <h1>All Shelters</h1>

    <% @shelters.each do |shelter| %>
      <h2><%= link_to shelter.name, "/shelters/#{shelter.id}" %></h2><br>
      <p><%= link_to "Edit #{shelter.name}", "/shelters/#{shelter.id}/edit" %></p>
      <p><%= button_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %></p><br><br>

    <% end %>
    <br><br>
    <%= link_to "New Shelter", "/shelters/new" %>
  </section>
