<% content_for :title, "All Shelters - Adopt Don't Shop" %>


  <section class="index">
    <h1>All Shelters</h1>

    <p> No shelters have been added. </p> <% if @shelters == [] %>
    <% else %>
      <% @shelters.each do |shelter| %>
        <h2><%= link_to shelter.name, "/shelters/#{shelter.id}" %></h2>
        <p><%= link_to "Edit #{shelter.name}", "/shelters/#{shelter.id}/edit" %></p>
        <p><%= button_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %></p>
      <% end %>
    <% end %>
    <br><br>
  </section>
  <section>
    <%= link_to "New Shelter", "/shelters/new" %>
  </section>
