<% content_for :title, "New Shelter - Adopt Don't Shop" %>


  <section class="form">
    <h1>Create a New Shelter </h1>

    <%= render partial: 'shelter_form', locals: { path: '/shelters',
                                                  method: :post,
                                                  button: 'Create Shelter',
                                                  shelter: @shelter || @shelter = Shelter.new } %>

  </section>
