<% content_for :title, "Edit Pet - Adopt Don't Shop" %>

  <section class="form">
    <h1>Edit <%= link_to @pet.name, "/pets/#{@pet.id}" %></h1>


    <%= render partial: 'pet_form', locals: { path: "/pets/#{@pet.id}",
                                              method: :patch,
                                              button: "Update Pet",
                                              pet: @pet } %>
  </section>
