<% content_for :title, "Welcome - Adopt Don't Shop" %>

  <header>
  </header>
  <nav>
    <ul>
      <li><%= link_to "All Pets", "/pets" %></li>
      <li><%= link_to "All Shelters", "/shelters" %></li>
    </ul>
  </nav>
  <section class="welcome">
    <h1><%= link_to "Welcome", "/shelters" %>
  </section>
