
<% content_for :title, "Add Review - Adopt Don't Shop" %>

  <header>
  </header>
  <nav>
    <ul>
      <li><%= link_to "All Pets", "/pets" %></li>
      <li><%= link_to "All Shelters", "/shelters" %></li>
    </ul>
  </nav>
  <section class="form">
    <h1>Add Review</h1><br>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div><br><br><br>
<% end %>

<%= render partial: 'review_form', locals: { path: "/shelters/#{@shelter.id}/reviews",
                                            method: :post,
                                            button: "Submit",
                                            review: @review = Review.new } %>
