
<% content_for :title, "Add Review - Adopt Don't Shop" %>


  <section class="form">
    <h1>Add Review</h1><br>


<%= render partial: 'review_form', locals: { path: "/shelters/#{@shelter.id}/reviews",
                                             method: :post,
                                             button: "Submit",
                                             review: @review = Review.new } %>
